body
{
  margin: auto;
    height: 400px;
    width: 500px;
    margin-top: 10%;
    border: 4px solid pink;
    box-shadow: 3px 3px 3px 3px pink;
    
}
#result
{
    height: 30px;
    width:70px;
  margin-top: 3%;
    border: 2px solid red;
    color: white;
}
.m
{
  margin-top:8%;
}
.num
{
  margin: auto;
}
b,body{
   
  color:white;
  font-size: 30px;
  animation: kar 2s infinite;
}
@keyframes kar
{
0%
{
  text-shadow: 0 0 5px hotpink;
}
25%
{
  text-shadow: 0 0 5px blue;; 
}
50%
{
  text-shadow: 0 0 5px red;
}
75%
{
  text-shadow: 0 0 5px  green;
}
100%
{
  text-shadow: 0 0 5px goldenrod;
}
}
